body
{
font-family: 'Raleway', sans-serif;
font-weight: 400;
background: #fff;
}
.hero-unit
{
	background: url(../img/black.png);
	height: 80px;
}
.span6 p
{
text-align: justify;
text-justify: newspaper;
letter-spacing: 1px;
line-height: 25px;
font-size: 15px;
text-shadow: 0 1px 0 #ccc,
}
.span6 h2
{
	color:#2A97B5;
}